## Анализ датасета Facebook

In [2]:
import pandas as pd
import numpy as np
from IPython.display import HTML, display
import tabulate

data=pd.read_csv('C:/Users/kotsi/Downloads/dataset_Facebook.csv', sep=';')
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [3]:
# Для этих стобцов нам бесполезно считать среднее, максимальное и минимальное
uncounted_columns=data[['Type','Category','Post Month', 'Post Weekday', 'Post Hour', 'Paid']] #мода, медиана

numerical_columns=data.drop(['Category', 'Post Month', 'Post Weekday', 'Post Hour', 'Paid'], axis=1)

def static_uncounted(columns):
    measures=dict()
    measures['median']=columns.median()
    measures=pd.DataFrame(measures).T
    return measures

def static_counted(columns):
    measures=dict()
    measures['0_mean']=columns.mean()
    measures['1_max']=columns.max()
    measures['2_min']=columns.min()
    measures['3_median']=columns.median()
    measures=pd.DataFrame(measures).T
    return measures

static_uncounted(uncounted_columns)

        Category  Post Month  Post Weekday  Post Hour  Paid
median       2.0         7.0           4.0        9.0   0.0

In [4]:
# Мода
uncounted_columns.mode()

    Type  Category  Post Month  Post Weekday  Post Hour  Paid
0  Photo         1          10             7          3   0.0

In [5]:
static_counted(numerical_columns)

,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Total Interactions,Type,comment,like,share
0_mean,920.344,609.986,798.772,1415.13,16766.4,29585.9,13903.4,6585.49,123194,212.12,NaN,7.482,177.946,27.2661
1_max,11452,4376,11328,19779,1107833,1110282,180480,51456,139441,6334,Video,372,5172,790
2_min,9,9,9,9,567,570,238,236,81370,0,Link,0,0,0
3_median,625.5,412,551.5,851,6255.5,9051,5281,3417,129600,123.5,NaN,3,101,19

In [6]:
numerical_columns.mode().T

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
Page total likes,136393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type,Photo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lifetime Post Total Reach,677,2232,2645,2938,3322,3358,3414,3528,3754,5280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lifetime Post Total Impressions,4372,6503,7004,8533,8745,12735,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lifetime Engaged Users,537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lifetime Post Consumers,182,298,319,322,335,374,482,503,513,642,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lifetime Post Consumptions,431,513,599,652,719,730,795,889,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lifetime Post Impressions by people who have liked your Page,1210,1284,2541,2888,3675,4911,4935,5010,5732,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lifetime Post reach by people who like your Page,690,704,1228,1640,1674,1722,2044,2124,2162,2174,...,3230,3298,3768,5348,5372,7020,7800,8032,8120,20608
Lifetime People who have liked your Page and engaged with your post,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
comment,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
like,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
share,13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Interactions,0,39,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
types=list(data['Type'].unique())
types

['Photo', 'Status', 'Link', 'Video']

In [31]:
un_photos=uncounted_columns.drop(np.where(uncounted_columns['Type']!='Photo')[0])
photos=numerical_columns.drop(np.where(numerical_columns['Type']!='Photo')[0])
un_statuses=uncounted_columns.drop(np.where(uncounted_columns['Type']!='Status')[0])
statuses=numerical_columns.drop(np.where(numerical_columns['Type']!='Status')[0])
un_linkes=uncounted_columns.drop(np.where(uncounted_columns['Type']!='Link')[0])
linkes=numerical_columns.drop(np.where(numerical_columns['Type']!='Link')[0])
un_videos=uncounted_columns.drop(np.where(uncounted_columns['Type']!='Video')[0])
videos=numerical_columns.drop(np.where(numerical_columns['Type']!='Video')[0])

un_arr=[un_photos, un_statuses, un_linkes, un_videos]
arr=[photos, statuses, linkes, videos]

In [32]:
for i in un_arr:
    print(i['Type'].unique())
    display(HTML(tabulate.tabulate(static_uncounted(i), tablefmt='html', headers=uncounted_columns.columns.values[1:])))

['Photo']

['Status']

['Link']

['Video']

In [33]:
for i in un_arr:
    print(i['Type'].unique())
    display(HTML(tabulate.tabulate(i.mode(), tablefmt='html', headers=uncounted_columns.columns.values[1:])))

['Photo']

['Status']

['Link']

['Video']

In [37]:
for i in arr:
    print(i['Type'].unique())
    display(HTML(tabulate.tabulate(static_counted(i), tablefmt='html', headers=numerical_columns.columns.values[1:])))

['Photo']

['Status']

['Link']

['Video']

In [38]:
for i in arr:
    print(i['Type'].unique())
    display(HTML(tabulate.tabulate(i.mode(), tablefmt='html', headers=numerical_columns.columns.values[1:])))

['Photo']

['Status']

['Link']

['Video']